<html>
	<head>
	<style>
   html, body {
        background-color: white;
        color: black;
        font: 100%/1.25 sans-serif;
        margin: 0; 
        padding: 0;
        }
 
      p {
        font-size: 1em;
        }
 
      #wrapper {
        border: 1px dotted gray;
        margin: 20px auto 0;
        width: 90%;
        }
 
      #header {
        overflow: hidden;
        }
 
      #header h1 {
        float: left;
        margin-left: 60px;
        }
 
      #header ul {
        padding: 0;
        text-align: right;
        }
 
      #header li {
        border: 1px solid black;
        display: inline-block;
        margin: 1em .5em;
        text-align: left;
        }
 

	</style>
	</head>

<div id="wrapper">
      <div id="header">
				<h1>Booking</h1>searchHotel
			 
				<ul>
				<% if cookies[:login].blank? %>
					<li><a href="/login">Sign In</a></li>
			 
					<li><a href="/register">Sign Up</a></li>

					<%else%>

					<li><a href="/logout">Log Out</a></li>

				<%end%>

					
					
					<li><a href="/searchHotel">Booking</a></li>

					<li><a href="/searchComment">Comment</a></li>

				</ul>
      </div>    
</div>


<form action="/searchHotel" method="post">
  <fieldset>
    <legend>Personalia:</legend>
		<input type="text" id="h1" style = "border: none;border-color: transparent;color:red; readonly">
		<br>
		Country:<input type="text" name="country" id="c" value=<%=@country%> >
		<br>	
		<input type="text" id="h2" style = "border: none;border-color: transparent;color:red; readonly">
		<br>
		Check In: <input type="date" name="checkIn" id="ci" value=<%=@checkIn%> >
		<br>	
		<input type="text" id="h3" style = "border: none;border-color: transparent;color:red; readonly">
		<br>
		Check Out: <input type="date" name="checkOut" id="co" value=<%=@checkOut%> >
		<br>
		<input type="submit" value="Search" id="s">
	</fieldset>

</form>
<%=cookies[:error1] %>
<script>
		sub=document.getElementById("s");
		country = document.getElementById("c");
		CheckIn = document.getElementById("ci");
		CheckOut = document.getElementById("co");
		error1 = document.getElementById("h1");
		error2 = document.getElementById("h2");
		error3 = document.getElementById("h3");
		sub.addEventListener('click',function(e){
			error1.value=""
			error2.value=""
			error3.value=""
			if (country.value == ""){
				e.preventDefault();
				error1.value="choose the country"
			}
				if (CheckIn.value == ""){
				e.preventDefault();
				error2.value="choose check in date"
			}
			if (CheckOut.value == ""){
				e.preventDefault();
				error3.value="choose check out date"
			}
		});
</script>

</body>
